{% extends 'content/base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Category</h1>
            <p class="lead fw-normal text-white-50 mb-0">Choose your Category</p>
        </div>
    </div>
</header>

<!-- Footer-->

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p>
                    <br></br>
                    <div class="col-md-6">
                        <img
                        class="card-img-top mb-5 mb-md-0"
                        src="{{ product.image.url }}"
                        alt="..."
                        />
                    </div>
                    <br></br>
                </p>
            </div>
        </center>
    </div>
</div>


{% endblock %}